@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format(".woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format(".woff2");
    font-display: swap;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
  }

body {
    min-width: 1200px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    background-color: #FFFFFF;
    color: #333333;
}

.page-header {
    background-color: #FFFFFF;
    color: #000000;
    width: 1200px;
    margin: 0 auto;
}

.navigation-link {
    position: relative;
    display: block;
    padding: 21px 17px;
    font-weight: 700;
    line-height: 26px;
    color: #000000;
    text-align: center;
    text-decoration: none;
    word-spacing: -1px;
    letter-spacing: -0.6px;
}

.icon-button-counter {
    position: absolute;
    top: 15px;
    right: -2px;
    background-color: #7DB54F;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: -10%;
    display: flex;              
    align-items: center;        
    justify-content: center; 
}


.navigation-link:active .icon-button-counter {
    color: rgba(255, 255, 255, 0.3);
}

.navigation-link:hover {
    color: #756257;
}

.navigation-link:hover path {
    fill: #756257;
}

.navigation-link:active path {
    fill: rgba(117, 98, 87, 0.3);
}

.navigation-link:active {
    color: rgba(117, 98, 87, 0.3);
}

.filter-buttons{
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.navigation-link-selected::before {
    position: absolute;
    right: 20px;
    bottom: 5px;
    left: 20px;
    height: 2px;
    background-color: #756257;
    content: "";
    z-index: 3;
}


.additional-menu .navigation-link {
    min-width: 19px;
    min-height: 29px;
}

.welcome {
    background-image: url("../img/index-background.jpg") ;
    color:  #000000;
    background-color: #83B3D3;
    background-size: 1200px 485px;
    background-repeat: no-repeat;
    text-align: center;
}

.subscribe-index {
    background-image: url("../img/background.jpg");
    color: #FFFFFF;
    background-color: #83B3D3;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    margin-top: 93px;
    margin-bottom: 0;
    padding-bottom: 94px;
}

.subscribe-field {
    display: flex;
    margin: 0;
    justify-content: center;
    padding: 0px 25px;
    
}

.subscribe-catalog {
    color: #333333;
    background-size: 100% auto;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 140px;
}

.main-container {
    flex-grow: 1;
    margin-top: -5px;  
    z-index: 1;
}

.main-background {
    background-image: url("../img/catalog-background.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #FFFFFF;
    padding-left: 71px;
    margin-top: -5px;  
    z-index: 1;
}

.button {
    background-color: #756257;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    border-radius: 4px;
}

.favourite-button-selected {
    background-color: #7DB54F;
    margin: 0;
    padding: 0;
    grid-column: 2 / 3;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
    outline: none;
    border-radius: 4px;
    border: 3px solid transparent;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;

}

.favourite-button-selected:hover {
    background-color: #6C9E42;
}

.favourite-button-selected:focus-visible {
    background-color: #6C9E42;
    border: 3px solid #756257;
}

.favourite-button-selected:active {
   color:  rgba(255, 255, 255, 0.3);
}

.subscribe-button {
    background-color: #83B3D3;
    margin: 0;
    border: none;
    padding: 0;
    min-width: 200px;
    min-height: 60px;
    border-radius: 0 10px 10px 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;

}

.subscribe-button:hover {
    background-color: #68A2CA;
} 

.subscribe-button:focus-visible {
    border: 3px solid #756257;
    outline: none;
} 

.subscribe-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.filter-button {
    background-color: #83B3D3;
    margin-left: 81px;
    margin-top: 58px;
    min-width: 160px;
    min-height: 48px; 
    border-radius: 4px;
    margin-bottom: 20px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    outline: none;
}

.filter-button:hover {
    background-color: #68A2CA;
}

.filter-button:focus-visible {
    border: 3px solid #FFFFFF;
}

.filter-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.searh-button { 
    display: inline-block;
    align-content: center;
    border-radius: 10px;
    width: 575px;
    height: 60px;
}


.navigation-button {
    font-family: "PT Sans", sans-serif;
    margin-top: -5px;
    align-self: center;
    padding: 6.6px 15px;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    min-width: 125.2px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px;
    border: 3px solid transparent;
    outline: none;
    letter-spacing: -0.55px;
}

.navigation-button:hover {
    background-color: #615048;
}

.navigation-button:focus-visible {
    border: 3px solid #83B3D3;
}

.navigation-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.searh-button:hover {
    background-color: #615048;
}

.searh-button:focus-visible {
    border: 3px solid #83B3D3;
    outline: none;
}

.searh-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.searh {
    text-align: center;
}

.pagination-link {
    color: #FFFFFF;
    background-color: #83B3D3;
    text-decoration: none;
    font-weight: 700;
    display: inline-flex; 
    align-items: center;  
    justify-content: center; 
    box-sizing: border-box; 
    min-width: 54px;
    min-height: 55px;
    padding: 14px 18px;
    margin-right: 9px;
    text-align: center;
    align-content: center;
    border-radius: 4px;
    outline: none;
}

.pagination-link-active {
    background-color: #F2F2F2;
    text-decoration: none;
    font-weight: 700;
    display: block;
    box-sizing: border-box;
    min-width: 55px;
    min-height: 55px;
    padding: 14px 20px;
    margin-right: 8px;
    text-align: center;
    align-content: center;
    border-radius: 4px;
    outline: none;
}

.pagination-link:hover {
    background-color: #68A2CA;
}

.pagination-link:focus-visible {
    border: 3px solid #756257;
}

.pagination-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.advantages-color {
    color: #FFFFFF;
    width: 400px;
    align-content: center;
    margin: 0;
    padding: 0;
}
.searh-title {
    margin-top: 91px;
    margin-bottom: 29px;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
    text-transform: uppercase;
}

.section-title-catalog {
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin-right: 152px;
    font-family: "PT Sans", sans-serif;
    line-height: 100%;
    text-transform: uppercase;
}

.section-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    color: #000000;
    text-align: center;
    margin-top: 63px;
    margin-bottom: 31px;
    margin-left: auto;
    margin-right: auto;
    width: 730px;
    text-transform: uppercase;
}

.advantages-column {
    display: flex;
    width: 400px;
    min-height: 384px;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    box-sizing: border-box;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000000 ;
    margin-right: 53px;
    width: 720px;
    align-self: center;
    outline: none;
    display: inline-flex;
    width: fit-content;
    margin-left: 189px;
    margin-top: 2px;
    margin-right: auto;
}

.footer-contacts-phone:hover {
    color: rgba(117, 98, 87, 1);
}

.footer-contacts-phone:focus-visible {
    border: 3px solid #83B3D3;
    border-radius: 10px;
}

.footer-contacts-phone:active {
    color: rgba(117, 98, 87, 0.3);
}

.subscribe-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    padding-top: 96px;
    padding-bottom: 4.1px;
    text-transform: uppercase;
}

.subscribe-title-catalog {
    padding-top: 45px;
}

.subscribe-undertitle{
    width: 720px;
    margin: 0 auto;
    margin-bottom: 44px;
}

.subscribe-undertitle-catalog {
    margin-top: 41px;
}

.field {
    background-color: #F2F2F2;
    width: 600px;
    height: 60px;
    font-size: 18px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    border: 3px solid transparent;
    padding-left: 22px;
    border-radius: 10px 0 0 10px;
    outline: none;
    box-sizing: border-box;
    font: inherit;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 0%;
    vertical-align: middle;

}

.field:hover {
    background-color: #E5E5E5;
}

.field:required:invalid:not(:placeholder-shown) {
    border: 3px solid #FF5757;
}

.field:focus-visible {
    border: 3px solid #83B3D3;
}

.searh-description {
    font-size: 22px;
    margin-bottom: 54px;
    line-height: 26px;
}

.section-description {
    line-height: 36px;
    font-size: 22px;
    margin-bottom: 80px;
    text-align: center;
}

.main-catalog-title {
    margin: 0;
    padding-top: 45px;
    margin-bottom: 5px;
    font-size: 60px;
    line-height: 100%;
    font-weight: 700;
    font-family: "PT Sans", sans-serif;

}

.catalog {
    margin-top: 22.7px;
}

.catalog-filters-group {
    border: none;
    padding: 0;
    margin: 0;
    max-width: 100px;
}

.catalog-filters-title, .catalog-filters-title-infrostructure {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.range-field {
    margin-bottom: 37.7px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    margin-bottom: 45px;
    list-style-type: none;
    outline: none;
    flex-wrap: wrap;
    border: none;
}

.breadcrumbs-item {
    position: relative;
    margin-right: 26px;
    font-size: 16px;
    line-height: 21px;
    outline: none;
}

.breadcrumbs-link {
    border: 3px solid transparent;
    outline: none;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFFFF;
}

.breadcrumbs-item:first-child::after {
    content: ""; 
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    right: -16px; 
    width: 6px;
    height: 8px; 
    background-image: url("../img/vector-right.svg");
    background-repeat: no-repeat;
}

.breadcrumbs:hover {
    opacity: 60%;
}

.breadcrumbs-link:focus-visible {
    border: 3px solid #83B3D3;
}

.breadcrumbs:active {
    opacity: 30%;
}

.control-label {
    margin-left: 19px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}

.control-lead {
    margin-left: 19px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.control-item, .card-description-title {
    line-height: 24px;
}

.button-reset {
    padding: 0;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    min-width: 160px;
    min-height: 30px;
    margin-left: 81px;
    text-align: center;
    border: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    outline: none;
}

.button-reset:hover {
    color: rgba(255, 255, 255, 0.6);
}

.button-reset:focus-visible {
    border: 3px solid rgba(131, 179, 211, 1);
    border-radius: 4px;
}

.button-reset:active {
    color: rgba(255, 255, 255, 0.3);
}


.card-link {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;
    color: #000000;
}

.navigation {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.logo {
    padding: 0;
    margin: 0;
    margin-right: 30px;
    z-index: 2;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    padding: 0;
    margin: 0;
    list-style-type: none; 
}

.additional-menu {
    margin-left: auto;
    max-width: 265px;
}

.page-container {
    width: 1200px;
    margin: 0% auto;
    padding: 0;
    box-sizing: border-box;
}

.advantages-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.advantages-img {
    width: 800px;
    height: auto;
    margin: 0;
}

.advantages-columns-img {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;

}

.advantages-title {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0;
    margin-bottom: 30px;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 97px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-real::after {
    content: "— №1 —";
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

}

.advantages-bridge::after {
    content: "— №2 —";
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase
}

.advantages-close::after {
    content: "— №3 —";
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase
}

.advantages-road::after {
    content: "— №4 —";
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase
}

.advantages-tourist::after {
    content: "— №5 —";
    display: block;
    margin-top: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase
}

.advantages-title-img {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 0;
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 181px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages-title-img-home::before {
    content: ""; 
    position: absolute;
    transform: translate(10%, -136%);
    width: 75px;
    height: 72px; 
    background-image: url("../img/advantages-home.svg");
    background-repeat: no-repeat;
}

.advantages-title-img-food::before {
    content: ""; 
    position: absolute;
    transform: translate(-14.5%, -137%);
    width: 74px;
    height: 70px; 
    background-image: url("../img/advantages-food.svg");
    background-repeat: no-repeat;
}

.advantages-title-img-souvenirs::before {
    content: ""; 
    position: absolute;
    transform: translate(60%, -133.5%);
    width: 64px;
    height: 76px; 
    background-image: url("../img/advantages-souvenirs.svg");
    background-repeat: no-repeat;
}


.advantages-text {
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 87px;
}

.advantages-columns {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    min-height: 384px;
    flex-wrap: wrap;
}

.advantages-item-img {
    display: flex;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    width: 100%;
}       

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 14.5px ;
}

.footer-contacts-media {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    width: 117px;
    margin-left: 26.5px;
    margin-right: 61px;
    padding-bottom: 10px;
}

.footer-contacts-htmlacademy-link {
    width: 115px;
    align-self: center;
    outline: none;
    padding: 25.1px 69px;
    border: 3px solid transparent;
    display: block;
}

.footer-contacts-htmlacademy-link:hover path{
    fill: #756257;
}

.footer-contacts-htmlacademy-link:focus-visible {
    border: 3px solid #83B3D3;
    border-radius: 10px;
}

.footer-contacts-htmlacademy-link:active path{
    fill: rgba(117, 98, 87, 0.3);
}

.catalog-filters{
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.catalog-filters-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 83px;
}

.catalog-filters-item {
    margin-bottom: 13px;
}

.catalog-filters-title-infrostructure {
    display: block;
    width: 150px;
    margin-right: 67px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.catalog-filters-title{
    display: block;
    width: 150px;
    margin-right: 154px;
}

.catalog-filter {
    display: flex;
    margin: 0 auto;
    width: 1057px;
    margin-bottom: 49.5px;
}

.select-control{
    width: 287px;
    height: 48px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24;
    padding-left: 19px;
    border: 2px solid #E5E5E5;
    outline: none;
    border-radius: 4px;
}

.select-control:hover {
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.select-control:focus-visible {
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.select-control:active {
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    color: rgba(51, 51, 51, 0.3);
}



.sorting-type {
    margin-right: auto;
    align-self: center;

}

.pagination-nav {
    display: flex;
    width: 1056px;
    margin: 0 auto;
    padding: 0;
}

.pagination-list {
    display: flex;
   list-style-type: none;
   flex-wrap: wrap;
   padding: 0;
   margin: 0;
}

.pagination-select {
    display: flex;
    margin-left: auto;
    align-self: center;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16.6px;
    line-height: 100%;
    letter-spacing: 0%;

}

.select { 
    margin-left: 51px;
    align-self: center;
    outline: none;
}   



.select-item {
    margin: 0;
    width: 160px;
    height: 48px;
    font-size: 18px;
    line-height: 24px;
    padding-left: 17px;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    outline: none;
    margin-top: -6px;
}

.select-item:hover {
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.select-item:focus-visible {
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.select-item:active {
    border: 2px solid rgba(229, 229, 229, 1);
    color: rgba(51, 51, 51, 0.3);
    border-radius: 4px;
}

.card {
    width: 340px;
    display: grid;
    grid-template-columns: 137px 137px;
    grid-template-rows: 195px 60px 55px 39px 39px 60px;
    column-gap: 26px;
}

.card-img {
    grid-column: 1 / -1;
    width: 300px;
    height: 206px;
    outline: none;
    border: 3px solid transparent;
}

.card-img:hover {
    opacity: 60%;
}


.card-img:focus-visible {
    border: 3px solid #83B3D3;
}


.card-img:active {
    opacity: 30%;
}

.card-title {
    grid-column: 1 / -1;
    font-size: 24px;
    font-weight: bold;
}

.card-description-title {
    grid-column: 1 / 2;
}

.card-description-definition {
    grid-column: 2 / 3;
}

.button-show-more {
    grid-column: 1 / 2;
    text-align: center;
    padding-top: 9px;
    padding-bottom: 10px;
    outline: none;
    border-radius: 4px;
    border: 3px solid transparent;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.button-show-more:hover {
    background-color: #615048;
}

.button-show-more:focus-visible {
    border: 3px solid #83B3D3;
    background-color: #615048;
}


.button-show-more:active {
    color: rgba(255, 255, 255, 0.3);
}


.favourite-button { 
    grid-column: 2 / 3;
    text-align: center;
    vertical-align: middle;
    padding-top: 9px;
    padding-bottom: 10px;
    background-color: #83B3D3;
    margin: 0;
    border: none;
    padding: 0;
    outline: none;
    line-height: 37px;
    border-radius: 4px;
    border: 3px solid transparent;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
}

.favourite-button:hover {
    background-color: rgba(104, 162, 202, 1);
}

.favourite-button:focus-visible {
    border: 3px solid rgba(117, 98, 87, 1);
    background-color: rgba(104, 162, 202, 1);
}


.favourite-button:active {
    color: rgba(255, 255, 255, 0.3);
}


.stars {
    grid-column: 1 / 2;
}

.card-rate {
    background-color: #F2F2F2;
    display: block;
    text-align: center;
    grid-column: 1 / -1; 
    justify-self: end;
    min-width: 160px;
    border-radius: 4px;
    min-height: 18px;
    padding-top: 9px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;

}


.catalog-group {
    width: 1056px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    column-gap: 18px;
    row-gap: 10px;
    margin-left: 90px;
}

.view {
    display: flex;
    list-style-type: none;
    align-self: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-left: 20px;
}



.view-item {
    width: 48px;
    height: 49px;
    margin-right: 8px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 2px solid #E5E5E5;
    outline: none;
    width: 44.8px;
    height: 44.8px;
}


.view-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
}

.view-item-selected {
    width: 44.8px;
    height: 44.8px;
    margin-right: 8px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    border: 2px solid black;
    outline: none;
}

.view-link {
    outline: none;
    box-sizing: border-box;
}

.view-item-selected a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
    height: 100%;
}

.view-item:hover {   
    border: 2px solid rgba(131, 179, 211, 1);
    border-radius: 4px;
}

.view-item:focus-within {
    border: 2px solid #83B3D3;
    border-radius: 4px;
}

.pagination-item {
    margin-bottom: 5px;
}

.pagination-load-more-button {
    width: 620px;
    height: 60px;
    margin-bottom: 60px;
    margin-top: 37px;
    background-color: #83B3D3;
    padding: 0;
    grid-column: 1 / -1; 
    justify-self: center;
    border: none;
    border-radius: 4px;
    margin-right: 36px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.pagination-load-more-button:hover {
    background-color: #68A2CA;
} 

.pagination-load-more-button:focus-visible {
    border: 3px solid #756257;
    outline: none;
} 

.pagination-load-more-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.welcome-img {
    padding-top: 51px;
    padding-bottom: 78px;
}

.advantages-color-blue {
    background-color: #83B3D3;
}

.advantages-background-lightblue {
    background-color: #83B3D31F;
}

.advantages-background-grey {
    background-color: #83B3D333;
}

.advantages-background-white {
    background-color: #FFFFFF;
}

.navigation-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.navigation-icon path {
    fill: black;
}

.footer-contacts-button {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 30px;
    width: 30px;
    align-items: flex-end;
    outline: none;
    border-radius: 10px;
    box-sizing: border-box; 
    padding: 5px;
}

.footer-contacts-button:hover path{
    fill: rgba(104, 162, 202, 1);
}

.footer-contacts-button:focus-visible {
    outline: 3px solid rgba(131, 179, 211, 1);
}

.footer-contacts-button:active path{
    fill: rgba(104, 162, 202, 0.3);
}

.range-slider {
    position: relative;
    height: 4px;
    margin-top: 28.3px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 287px;
}

.slider-bar {
    position: absolute;
    height: 4px;
    background-color: #FFFFFF;
}

.slider-thumb {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
}

.slider-thumb:hover {
    box-shadow: 0px 4px 10px 0px #00000040;

}

.slider-thumb:focus-visible {
    box-shadow: 0px 4px 10px 0px #00000040;
    outline: 3px solid #83B3D3
}

.slider-thumb:active {
    box-shadow: 0px 7px 15px 0px #00000066;
    outline: 2px solid #83B3D3
}

.toggle-min {
    left: 0px;
    top: -8px;
}

.toggle-max {
    right: 0px;
    top: -8px;
}


.range-input {
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    font-weight: 400;
    size: 18px;
    line-height: 24px;
    border: none;
    font: inherit;
    height: 48px;
    outline: none;
    padding-left: 19px;
    position: relative;
}


.max-input {
    padding-left: 25px;
}

.range-title-min::after {
    content: "";
    position: absolute;
    background-color: #FFFFFF;
    width: 46px;
    height: 2px;
    transform: rotate(90deg);
    margin-top: 21px;
    margin-left: -8px;
}

.range-border {
    border: 2px solid white;
    height: 44.8px;
    border-radius: 4px;
}

.catalog-filter-label {
    position: relative;
    text-transform: lowercase;
    size: 18px;
    line-height: 24px;
    text-align: right;
    color: rgba(255, 255, 255, 0.3);
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
    position: relative;
    display: block;
    padding-left: 19px;
}

.control-mark {
    position: absolute;
    top: 2px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 1)
}

.control:hover .control-mark{
    opacity: 60%;
}

.control:active .control-mark{
    opacity: 30%;
}

.control-item:focus + .control-mark{
    outline: 3px solid rgba(131, 179, 211, 1);
}


.control-item[type="checkbox"]:checked + .control-mark::before {
  position: absolute;
  top: 3px;
  left: 2.2px;
  width: 13px;
  height: 10px;
  transform: scale(0.9);
  background-image: url("../img/checkbox.svg");
  background-position: center;
  background-repeat: no-repeat;
  content: "";
}


.control-item[type="radio"] + .control-mark {
    border-radius: 50%;
}

.control-item[type="radio"]:checked + .control-mark::before {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 3px;
    left: 3.15px;
    background-color: rgba(63, 94, 114, 1);
    position: absolute;
    content: "";
}

.navigation-link-menu {
    margin-right: 20px;
    padding-left: 6px;
    padding-bottom: 17px;
}

.navigation-link-search {
    padding-right: 6px;
    padding-bottom: 17px;
}

.modal-container {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(242, 242, 242, 0.8);
    display: flex;
    top: 0;
    left: 0;
}

.modal {
    position: relative;
    background-color: #FFFFFF;
    margin: auto;
    border-radius: 30px;
    padding: 70px;
    padding-top: 62px;

}

.modal-reservation {
    width: 575px;
}

.modal-close-button {
    position: absolute;
    background-image: url("../img/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    right: 70px;
    top: 54px;
    padding: 0;
    width: 53px;
    height: 53px;
    border: none;
    outline: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #F2F2F2;
}

.modal-close-button:hover {
    background-color: #E6E6E6;
}

.modal-close-button:focus {
    background-color: #E6E6E6;
    border: 3px solid #83B3D3
}

.modal-close-button:active {
    opacity: 60%;
    color: rgba(0, 0, 0, 0.3);
    background-color: #E6E6E6;
}

.modal-title {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 32px;
}

.date-field-state {
    margin: 0;
    padding: 0;
    margin-left: 155px;
    margin-bottom: 11px;
    font-weight: 400;
    font-size: 16px;
}

.field-group{
    display: block;
    margin: 0;
    padding: 0;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
}

.modal-form {
    margin-top: 30px;
}

.field-group-people {
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    position: relative;
}

.field-group-people, .field-group-counter {
    margin: 0;
    padding: 0;
    display: flex;    
    align-items: center;
}

.field-group-children {
    display: inline-flex;
    height: 50px;
    align-items: center;
    position: relative;
}

.tooltip-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    margin-right: 18px;
    font-size: 14px;
    border-radius: 50%;
    background-color: #83B3D3;
    color: #fff;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
}

.tooltip-icon::after {
    content: "Укажите количество детей, которые будут с вами, возраст которых от 6 до 18 лет. Дети до 6 лет размещаются бесплатно.";
    position: absolute;
    top: calc(100% + 14px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding-left: 22px;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 18px;
    width: 216px;
    border-radius: 10px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    vertical-align: middle;
    opacity: 0;
    visibility: hidden;
    z-index: 100;
    pointer-events: none;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.3);
}

.tooltip-icon::before {
    content: '';
    position: absolute;
    top: calc(100% + 6px);  
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-width: 9px 9.5px 0 9.5px;
    border-style: solid;
    border-color: #333 transparent transparent transparent;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.tooltip-icon:hover::before, 
.tooltip-icon:focus::before,
.tooltip-icon:hover::after,
.tooltip-icon:focus::after {
    opacity: 1;
    visibility: visible;
}


.status-error {
    color: #FF5757;
}

.field-group-coming, .field-group-out, .field-group-adults {
    display: inline-block;
    width: 148px;
    height: 50px;
    align-content: center;
}

.number-of-people-field {
    width: 129px;
    height: 48px;
    border: none;
    outline: none;
    background-color: #F2F2F2;
    border-radius: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.number-of-people-field::-webkit-outer-spin-button,
.number-of-people-field::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.field-group-counter-children {
    margin-left: auto;
    position: relative;
}

.date-field {
    width: 384px;
    height: 50px;
    background-color: #F2F2F2;
    border: none;
    outline: none;
    margin: 0;
    padding-left: 19px;
    border-radius: 4px;
    font: inherit;
    font-weight: 700;
    font-size: 18px;
    line-height: 40px;
    vertical-align: middle;
    position: relative;
    background-image: url("../img/calendar.svg");
    background-position: right 19px center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-right: 19px;
}

.date-field:hover {
    background-color: #E6E6E6;  
}

.date-field:focus-within {
    background-color: #E6E6E6;  
    outline: 3px solid #83B3D3; border: 2px solid #000000;
    border: none;
}

.date-field:active {
    background-color: #FFFFFF;  
    outline: none;
    border: 2px solid #000000;
}

.modal-form-button {
    width: 575px;
    height: 60px;
    border-radius: 10px;
    margin-top: 40px;
    background-color: #83B3D3;
    outline: none;
    border: none;
    color: #FFFFFF;
    font: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
}

.modal-form-button:hover {
    background-color: #68A2CA;
}

.modal-form-button:focus-within {
    background-color: #68A2CA;
    border: 3px solid #756257
}

.modal-form-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.counter-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.counter-btn-minus {
    position: absolute;
    top: 15px;
    left: 19px;
    width: 13px;
    height: 13px;
    z-index: 1;
    border: none;
    cursor: pointer;
    padding: 10px;
    opacity: 30%;
    background-image: url("../img/minus.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 4px;
    outline: none;
}

.counter-btn-minus:hover {
    opacity: 100%;
}

.counter-btn-minus:focus {
    opacity: 100%;
    outline: 3px solid rgba(131, 179, 211, 1);
}

.counter-btn-minus:active {
    opacity: 20%;
}

.counter-btn-plus:hover {
    opacity: 100%;
}

.counter-btn-plus:focus {
    opacity: 100%;
    outline: 3px solid rgba(131, 179, 211, 1);
}

.counter-btn-plus:active {
    opacity: 20%;
}

.counter-btn-plus {
    position: absolute;
    top: 15px;
    cursor: pointer;
    right: 19px;
    background-image: url("../img/plus.svg");
    background-position: center;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    padding: 10px;
    z-index: 1;
    opacity: 30%;
    border: none;
    border-radius: 4px;
    outline: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0; 
    cursor: pointer;
    position: absolute;
    right: 10px;
  }

.modal-container-close {
    display: none;
}